@font-face {
    font-family: 'Helvetica';
    font-weight: 500;
    src: url('../fonts/Helvetica-Neue/Helvetica_Neue_Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    src: url('../fonts/Helvetica-Neue/Helvetica_Neue_Bold.ttf');
}