
/* Leaderboard Section Styles */

section.leaderboards {
    width: 100%;
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.leaderboards h2 {
    font-size: 20px;
    text-align: center;
    max-width: 585px;
}


section.leaderboards .c-tabs {
    width: 100%;
    margin-top: 37px;
}

section.leaderboards .c-tabs .c-tabs-nav {
    justify-content: center;
}

section.leaderboards .c-tabs .c-tabs-nav .c-tabs-nav__link {
    background-color: #1A293B;
    color: white;
    margin: 0px;
    flex: unset;
    text-decoration: none;
    padding: 13px 34px;
}

section.leaderboards .c-tabs .c-tabs-nav .c-tabs-nav__link:first-child {
    border-radius: 13px 0px 0px 0px;
}

section.leaderboards .c-tabs .c-tabs-nav .c-tabs-nav__link:last-child {
    border-radius: 0px 13px 0px 0px;
}

section.leaderboards .c-tabs .c-tabs-nav .c-tabs-nav__link.is-active {
    background: #2E9EA1 0% 0% no-repeat padding-box;
}


section.leaderboards .c-tabs .c-tab.is-active {
    background-color: #1A293B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.leaderboards .c-tabs .c-tab .catch-x {
    background-color: #203248;
    max-width: 564px;
    margin: 41px 0px;
    border-radius: 20px;
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas: 'image title'
                         'image description';
    padding: 20px 30px;
}

section.leaderboards .c-tabs .c-tab .catch-x img {
    grid-area: image;
}

section.leaderboards .c-tabs .c-tab .catch-x h3 {
    grid-area: title;
    font-size: 18px;
}
section.leaderboards .c-tabs .c-tab .catch-x p {
    grid-area: description;
    color: rgba(255, 255, 255, 0.8);
}
section.leaderboards .c-tabs .c-tab p.bottom-text {
    text-align: center;
    max-width: 647px;
    padding-bottom: 5px;
    font-size: 13px;
}
section.leaderboards .c-tabs .c-tab p.bottom-text:last-child {
    padding-bottom: 25px;
}

section.leaderboards .c-tabs .c-tab .c-tab__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    padding: 45px 44px;
    padding-bottom: 25px;
    position: relative;
}

section.leaderboards .c-tabs .c-tab .c-tab__content button.add-leaderboard {
    position: absolute;
    background: none;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

section.leaderboards .c-tabs .c-tab .boards {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.leaderboards .c-tabs .c-tab .boards h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

section.leaderboards .c-tabs .c-tab .boards p.desc {
    font-size: 14px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.8);
    min-height: 56px;
}

section.leaderboards .c-tabs .c-tab .boards .table-content {
    padding: 66px 50px 27px 50px;
    background-color: #203248;
    border-radius: 13px;
    position: relative;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label .info {
    margin-left: auto;
    cursor: pointer;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label .info .info-content {
    padding: 13px 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    max-width: 245px;
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label .info .info-content::after {
    content: '';
    position: absolute;
    right: 12px;
    top: -12px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-bottom: 14px solid white;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label .info:hover .info-content {
    visibility: visible;
    opacity: 1;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label .info .info-content p {
    font-size: 13px;
    color: black;
    background-color: unset;

}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label p {
    background: #2E9EA1 0% 0% no-repeat padding-box;
    border-radius: 13px 0px;
    padding: 4px 14px 7px 11px;
    font-size: 15px;
    z-index: 9;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label span {
    background: #227C7E 0% 0% no-repeat padding-box;
    border-radius: 13px 0px;
    padding: 4px 14px 7px 21px;
    color: white;
    font-size: 15px;
    transform: translateX(-10px);
}


section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label.orange p {
    background: #F19020 0% 0% no-repeat padding-box;
}

section.leaderboards .c-tabs .c-tab .boards .table-content .table-content-label.orange span {
    background: #D2770E 0% 0% no-repeat padding-box;
}


section.leaderboards .c-tabs .c-tab .boards .table-content table {
    width: 100%;
    border-spacing: 5px;
}

section.leaderboards .c-tabs .c-tab .boards .table-content table thead tr th {
    color: #9A9A9A;
}

section.leaderboards .c-tabs .c-tab .boards .table-content table tbody tr {
    margin-top: 10px;

}
section.leaderboards .c-tabs .c-tab .boards .table-content table tbody tr td {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 36px;
}

section.leaderboards .c-tabs .c-tab .boards .table-content table tbody tr td:first-child {
    width: 40%;
}
